* {
	color: #000000;;
	font-weight: 900;
	letter-spacing: 1px;
}

.arvo-regular {
	font-family: "Arvo", serif;
	font-weight: 400;
	font-style: normal;
  }
  
  .arvo-bold {
	font-family: "Arvo", serif;
	font-weight: 700;
	font-style: normal;
  }
  
  .arvo-regular-italic {
	font-family: "Arvo", serif;
	font-weight: 400;
	font-style: italic;
  }
  
  .arvo-bold-italic {
	font-family: "Arvo", serif;
	font-weight: 700;
	font-style: italic;
  }

  .purple-bg {
	background-color: #C484F1;
}

.purple-item {
	color: #C484F1;
}

.white-bg {
	background-color: #FFFFFF;
}

.white-item {
	color:  #FFFFFF;

}

.black-bg {
	background-color: #000000;
}

.almost-black-bg {
	background-color: #100D28;
	box-shadow: 5px 10px #080DAD;
}

.black-item {
	color: #000000;

}

.container-page {
	height: 100vh;
}

.flex-container-column {
	display: flex;
	text-align: start;
	align-items: start;
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 40%;
}

ul {
	
}

.width-50-percent {
	width: 50%;
}

.flex-container-line {
	display: flex;
	align-items: start;
	justify-content: space-around;
	width: 100%;
}

.border-botton {
	border-bottom: 2px solid black;
}

#welcome-page {
	background-color: #524e4e;
	background-repeat: no-repeat;
	background-size: cover;
	background-blend-mode: overlay;
}

#main-page {
	/* background-color: #bbb2b2; */
	background-repeat: no-repeat;
	background-size: cover;
	background-blend-mode: overlay;
}

#main-page-section-1 {
	background-color: #bbb2b2;
	background-repeat: no-repeat;
	background-size: cover;
	background-blend-mode: overlay;
}

.table-side-to-side {
	display: flex;
	height: auto;
	flex-direction: column	;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.unique-table {
	width: 25%;
	height: 90%; 
}

.no-break {
	white-space: nowrap;
}

.hight-auto {
	height: auto;

}

#rocket-img {
	height: 400px;
	width: 600px;
}

#whats-button {
	height: 100px;;
}

#stick-midias-img {
	height: 500px;
	width: 500px;
}

#cell-footer-img {
	height: 300px;
	width: 300px;
}

#world-midia-img {
	height: 400px;
	width: 400px;
}

@media (max-width: 1050px) {

	* {
		overflow-x: hidden;
	}

	#whats-button {
		height: 100px;
		width: 220px;
	}

	#rocket-img {
		height: 300px;
		width: 300px;
	}

	#rocket-container-2-img {
		height: 200px;
		width: 200px;
	}

	.text-container-2 {
		font-size: 15px;
	}

	#img-ecommerce {
		height: 200px;
		width: 200px;
	}

	#camera-img {
		height: 200px;
		width: 200px;
	}

	#telemarketing-img {
		height: 200px;
		width: 200px;
	}

	#lucas-img {
		height: 200px;
		width: 200px;
	}

	#victor-img {
		height: 200px;
		width: 200px;
	}

	.flex-container-line {
		flex-direction: column;
	}

	#world-midia-img {
		height: 300px;
		width: 300px;
	} 

	#cell-footer-img {
		height: 300px;
		width: 300px;
		margin-right: 50px;
	}
}

@media (min-width: 750px) {

	* {
		font-size: 20px;
	}
	.text-container-2 {
		font-size: 20px;
	}
}

@media (min-width: 750px) {

	* {
		font-size: 20px;
	}
	.text-container-2 {
		font-size: 20px;
	}

	#whats-button {
		height: 150px;
		width: 300px;
	}

	#rocket-img {
		height: 500px;
		width: 500px;
	}

	#rocket-container-2-img {
		height: 300px;
		width: 300px;
	}

	.text-container-2 {
		font-size: 20px;
	}

	#img-ecommerce {
		height: 300px;
		width: 300px;
	}

	#camera-img {
		height: 300px;
		width: 300px;
	}

	#telemarketing-img {
		height: 300px;
		width: 300px;
	}

	#lucas-img {
		height: 300px;
		width: 300px;
	}

	#victor-img {
		height: 300px;
		width: 300px;
	}

	.flex-container-line {
		flex-direction: column;
	}

	#world-midia-img {
		height:300px;
		width: 300px;

	} 

	#cell-footer-img {
		height: 500px;
		width: 500px;
	}
}
  
